# VS Code
.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
.vscode/ipch/
.vscode/*.db
.vscode/*.db-shm
.vscode/*.db-wal

# ESP-IDF build artifacts
firmware/**/build/
firmware/**/.vscode/*.db

# ROS 2 build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db
